<a href="https://colab.research.google.com/github/KhoiNguyen-sudo/DataAnalystDeepLearning/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#BUỔI 1 TRÊN LỚP

In [ ]:
# Series  là mảng 1 chiều

In [ ]:
# cách dùng: đầu tiên là tạo mảng trước, sau đó mới dùng được như ở ví dụ 1 và 2

In [ ]:
# thư viên pandas có 3 cấu trúc con : Series, DataFrame, Panel

In [ ]:
# Ví dụ 1

In [ ]:
# Cách 1
# Đầu tiên gọi thư viên pandas để triệu hồi Series 
import pandas as pd  
s = pd.Series([9,8,7,6,5,4,3,2])  # tạo mảng bên trong Series. Nếu không đánh chỉ mục thì mặc định index là 0,1,2,3,4,5,.... nó sẽ tự đánh chỉ mục
print(s) # in hết ra  
print("************* dòng 1")
print(s[1])  # truyền chỉ mục là 1, thì nó sẽ xuất tại chỉ mục l có giá trị là 8 
print("*************dòng 2")
print(s[1:5]) # nó xuất ra cả chỉ mục và giá trị của chỉ mục đó ,
print("*************dòng 3")
print(s[1:1]) # Nó sẽ ra rỗng  
print("*************dòng 4") 
print(s[1:2]) # nó sẽ chỉ mục và giá trị

0    9
1    8
2    7
3    6
4    5
5    4
6    3
7    2
dtype: int64
************* dòng 1
8
*************dòng 2
1    8
2    7
3    6
4    5
dtype: int64
*************dòng 3
Series([], dtype: int64)
*************dòng 4
1    8
dtype: int64

In [ ]:
# Cách 2  
# Gọi thư viện pandas 
import pandas as pd 
import numpy as np  # gọi thư viện numpy ( mảng) 
data = np.array([1,2,3,4,5]) 
s = pd.Series(data) 
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Ví dụ 2

In [7]:
""" muốn có cái tên cho mục index ta thực hiện như sau""" 
# Đâu tiên gọi thư viên pandas 
import pandas as pd 
s = pd.Series([9,8,7,6,5], index=["a","b","c","d","e"])  
"""bên trong Series có bao nhiêu giá trị thì bên index có bấy nhiêu( không dư, không thiếu)"""
s # in nó ra

SyntaxError: ignored

In [ ]:
"xem mảng giá trị bên trong Series"
s.values

array([9, 8, 7, 6, 5])

In [ ]:
"Xem chỉ mục bên trong Series"
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
#DataFrame là mảng 2 chiều

In [16]:
#Đầu tiên gọi thư viện pandas 
import pandas as pd 
# tạo mảng 
data = pd.DataFrame([1,2,3,4,5,6,7])  # tạo mảng bên trong dataFrame , mặc định columns là số 0
print(data) # Xuất ra 
print("******dòng 1") 
data1 = [['Alex',10],["Bob",12],["nguyên",20],"13","13"] # tạo mảng ( chuỗi nha), dạng từ điển
df1 = pd.DataFrame(data1,columns=["Name","Age"])   # đặt tên cột dùng colomns    
print(df1) 
print("******dòng 2")  
# Đặt tên cột 
# cách 1
data2 = {"Tên": ["Nguyên","Jack","Linh"],
         "Tuổi": [20,15,20]} 
df2 = pd.DataFrame(data2) 
print(df2)  
print("******dòng 3")
#cách 2  
# cái data này được tạo từ series 
data3 = {"one": pd.Series([1,2,3],index = ["a","b","c"]), # NaN : nghĩa là không có số
         "Two": pd.Series([6,7,8,9,10], index=["c","d","e","f","g"])} 
df3 = pd.DataFrame(data3) 
print(df3) 
print("******dòng 4") 
# cách 3 
data4 = [{"a": 2,"b": 3},{"a": 5,"b": 6,"c": 7}] 
df4 = pd.DataFrame(data4) 
print(df4)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
******dòng 1
     Name Age
0    Alex  10
1     Bob  12
2  nguyên  20
3       1   3
4       1   3
******dòng 2
      Tên  Tuổi
0  Nguyên    20
1    Jack    15
2    Linh    20
******dòng 3
   one   Two
a  1.0   NaN
b  2.0   NaN
c  3.0   6.0
d  NaN   7.0
e  NaN   8.0
f  NaN   9.0
g  NaN  10.0
******dòng 4
   a  b    c
0  2  3  NaN
1  5  6  7.0

In [ ]:
# cách thêm cột

In [24]:
import pandas as pd 
print("trước khi thêm")
d = {"Họ và tên": ["Nguyên","Ngân","Linh","Quân"],"Tuổi": [12,14,15,16]} 
df = pd.DataFrame (d) 
print(df) 
print("sau khi thêm")  
# cách 1 
print("cách 1")
d = {"Họ và tên": ["Nguyên","Ngân","Linh","Quân"],"Tuổi": [12,14,15,16]} 
df["Năm sinh"] = pd.Series([2001,2002,2003,2004]) # truyền vô bằng cách dùng Series
print(df)  
print("cách 2")
# cách 2 

df["Tuổi năm sau"] = df["Tuổi"] + df["Năm sinh"] 
print(df)

trước khi thêm
  Họ và tên  Tuổi
0    Nguyên    12
1      Ngân    14
2      Linh    15
3      Quân    16
sau khi thêm
cách 1
  Họ và tên  Tuổi  Năm sinh
0    Nguyên    12      2001
1      Ngân    14      2002
2      Linh    15      2003
3      Quân    16      2004
cách 2
  Họ và tên  Tuổi  Năm sinh  Tuổi năm sau
0    Nguyên    12      2001          2013
1      Ngân    14      2002          2016
2      Linh    15      2003          2018
3      Quân    16      2004          2020

In [ ]:
# CÁCH XÓA CỘT

In [31]:
import pandas as pd 
# cách 1
data = {"Mã số sinh viên": ["197ct09890","197ct0000"],"Tên": ["Nguyên","Chi"],"Năm sinh": ["2001","2006"]}  
df5 = pd.DataFrame(data) 
print(df5) 
del df5["Mã số sinh viên"] # xóa cột mã số sinh viên , hoặc muốn xóa hết thì del df5 là xong
print(df5) 
# cách 2 
df5.pop("Năm sinh") 
print(df5)

  Mã số sinh viên     Tên Năm sinh
0      197ct09890  Nguyên     2001
1       197ct0000     Chi     2006
      Tên Năm sinh
0  Nguyên     2001
1     Chi     2006
      Tên
0  Nguyên
1     Chi

In [ ]:
# BÀI TẬP VỀ NHÀ LAB 1

In [35]:
#Gọi thư viện pandas 
import pandas as pd 
dulieuxettuyendaihoc = pd.read_csv('https://github.com/KhoiNguyen-sudo/DataAnalystDeepLearning/blob/main/DataAnalystDeepLearning/Data/dulieuxettuyendaihoc.csv') # đọc dữ liệu trước 
print(dulieuxettuyendaihoc)

ParserError: ignored